header{
    text-align: center;
    font-size: 0.36rem;
    background: #3b9cff;
    height:0.88rem;
    line-height:0.88rem;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}